body {
    background-color: #f1e0dc;
    overflow-x: hidden;
    padding-top: 90px;

    /* Ajusta o scroll para links âncoras */
    scroll-padding-top: 90px;
}

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #624235 #c3aa95;
}

/* ============================== */
/* Scrollbar */
/* ============================== */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #c3aa95;
}

::-webkit-scrollbar-thumb {
    background: #624235;
    border-radius: 10px;
    border: 4px solid #c3aa95;
}

::-webkit-scrollbar-thumb:hover {
    background: #7a5647;
}
