<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img
                src="../assets/images/logo/logo-branca.png"
                alt="Nossa Senhora do Carmo"
            />
        </div>

        <div class="footer-contact">
            <h3>FALE CONOSCO</h3>

            <p>Paróquia Nossa Senhora do Carmo</p>

            <p>
                Rua Gonçalves Dias, 94-206<br />
                Centro, Monte Carmelo - MG
            </p>

            <p>(34) 3842-2540</p>
        </div>

        <div class="footer-social">
            <h3>SIGA-NOS</h3>

            <div class="footer-social-links">
                <a
                    href="https://wa.me/553438422540?text=Oi,%20tudo%20bem?%20Salve%20Maria!%0A%0AVisitei%20o%20site%20da%20Paróquia%20Nossa%20Senhora%20do%20Carmo%20e%20gostaria%20de%20obter%20mais%20informações."
                    target="_blank"
                    aria-label="WhatsApp"
                >
                    <img src="../assets/icons/whatsapp.svg" alt="WhatsApp" />
                </a>

                <a
                    href="https://www.instagram.com/paroquia.nsdocarmo/"
                    target="_blank"
                    aria-label="Instagram"
                >
                    <img src="../assets/icons/instagram.svg" alt="Instagram" />
                </a>

                <a
                    href="https://www.youtube.com/@ParóquiaNossaSenhoradoCarm-u1r"
                    target="_blank"
                    aria-label="YouTube"
                >
                    <img src="../assets/icons/youtube.svg" alt="YouTube" />
                </a>
            </div>
        </div>
    </div>
</footer>
