<header>
    <div class="logo_header">
        <a data-home-link class="icon-header">
            <img data-logo alt="Logo" />
        </a>
    </div>

    <button class="menu-toggle" aria-label="Abrir menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav class="links_header">
        <button class="menu-close" aria-label="Fechar menu">
            <span class="material-symbols-outlined">close</span>
        </button>

        <ul>
            <!-- APENAS HOME -->
            <li data-page="home">
                <a href="#comunidades">Comunidades</a>
            </li>
            <li class="menu-highlight" data-page="home">
                <a href="#horarios-missa">
                    <span class="menu-item-label">Horários de Missa</span>
                    <span class="menu-item-badge">VER AGORA</span>
                </a>
            </li>
            <li data-page="home">
                <a href="#fique-por-dentro">Fique por dentro</a>
            </li>
            <li data-page="home">
                <a href="#agenda">Agenda</a>
            </li>
            <li data-page="home">
                <a href="#horarios-confissao">Horários de Confissão</a>
            </li>
            <li data-page="home">
                <a href="#assista-ao-vivo">Assista ao Vivo</a>
            </li>
            <li data-page="home">
                <a href="#missa-dos-impossiveis">Missa dos Impossíveis</a>
            </li>
            <li data-page="home">
                <a href="#paroco">Pároco</a>
            </li>
            <li data-page="home">
                <a href="#vitrais">Vitrais</a>
            </li>

            <!-- APENAS PAGES -->
            <li class="menu-highlight" data-page="internal">
                <a href="../index.html">
                    <span class="menu-item-label">Página Inicial</span>
                    <span class="menu-item-badge">HOME</span>
                </a>
                <li data-page="internal">
                    <a href="../pages/monte_calvario.html">Monte Calvário</a>
                </li>
                <li data-page="internal">
                    <a href="../pages/monte_horeb.html">Monte Horeb</a>
                </li>
                <li data-page="internal">
                    <a href="../pages/monte_moria.html">Monte Moria</a>
                </li>
                <li data-page="internal">
                    <a href="../pages/monte_carmelo.html">Monte Carmelo</a>
                </li>
            </li>

            <!-- EM TODAS -->
            <li data-page="all">
                <a href="#fale-conosco">Fale conosco</a>
            </li>
        </ul>
    </nav>
</header>
